<% if @league.admin == current_user %>
  <%= button_to "start draft", "#", id: "start-draft" %>
<% end %>
<h2>On the clock: <span id="current-picker"></span></h2>
<div id="selection"></div>
<div id="drafted-team">
  <h4>My team</h4>
  <% @draft_presenter.team(current_user).players.each do |player| %>
    <li><%= player.position %> <%= player.name %></li>
  <% end %>
</div>
<h2>QB</h2>
<%= render @draft_presenter.qbs %>

<h2>RB</h2>
<%= render @draft_presenter.rbs %>

<h2>WR</h2>
<%= render @draft_presenter.wrs %>

<h2>TE</h2>
<%= render @draft_presenter.tes %>

<h2>Def/ST</h2>
<%= render @draft_presenter.defs %>

<h2>K</h2>
<%= render @draft_presenter.ks %>

<%= javascript_tag do %>
  var user = <%= raw current_user.to_json %>;
  var team = <%= raw @team.to_json %>;
  <% if @league.current_draft_pick %>
    var currentPick = <%= @league.current_draft_pick.pick_index %>;
    var currentTeam = "<%= @league.current_draft_pick.team %>";
  <% else %>
    var currentPick = 0;
    var currentTeam = "";
  <% end %>
<% end %>
